# M3. Statistical Machine Learning & Data Analytics
---

### Python Refresher
Start to refresh Python for module M3. Statistical Machine Learning & Data Analytics.

**Basic variables and Assingment**

"Variables" are pieces of data that can be given names and re-used in programming. 

The equals sign indicates "Assignment".
Whatever value is on the right gets assigned to the variable name on the left.

In [12]:
# 'a' and 'b' are the names of variables
# And we assign them as number 5 and 10 respectively.
a = 5
b = 10

# We can re-use these variable names to refer to what they are storing,
# like with this addition, which is equivalent to writing 5 + 10:
a + b

15

In [13]:
# In programming, we can re-assign variables.
a = 20

c = a+b # QUESTION. What is c now?
        # Expected. 30

In [14]:
c # Answer. 30

30

**Elementary Data Types**

In Python, the most common elementary types are : integers, floats, strings and booleans.

> Integers

In [15]:
# integers, or 'ints', are ...-2, -1, 0, 1, 2, ...:

a = 5
b = 3
c = -40

# We can do basic mathematical operations with them, 
# like we've seen with addition. but also:

mult = a * b   # multiplication
div  = c / a   # division
expo = a ** b  # exponentiation
               # they can also be used for indexing, which we'll see later.

# QUESTION: What is the value of expo?
# Expected. 125

In [16]:
expo # Answer. 125

125

> Floats

In [17]:
# floating point number, or 'floats', are real numbers:

x = 2.7
y = -6.9
z = 5.0  # note that, while a whole number, this is still a float because it has a decimal point

# floats can do most of the stuff that ints can,
# extended into real numbers with decimal places,
# but using all the same mathematical operations:

x * z

13.5

In [18]:
# TASK: Try multiplying a float by an int.
# QUESTION. What's the type of the result?
# Expected. float

type(a*x) # Answer. float

float

<u>Limitation of floats</u>

As they're represented on computer hardware, it looks a little stranges in code. 

For example, when we divided -6.9 by 5.0, the result should be exactly -1.38. But due to imprecision in the hardware, it's just very close to -1.38.

In [19]:
y / z

-1.3800000000000001

> Strings

In [25]:
# Python lets you write strings using 'single' or "double" quotes:

my_name = 'Andrey'
favourite_drink = "Coffee" 
my_age = '30' # note that though this variable contains only a number,
              # it's still a string-type because of the "quotes"

# unlike variable names, strings can include any character:
my_name_in_russian = 'Андрей'
my_name_in_chinese = '安德烈'

# To make a long string that can be broken up across lines
# you can also use triple quote marks like this
long_string = '''Once upon a midnight dreary, 
while I pondered, weak and weary,
over many a quaint and curious 
volume of forgotten lore...''' 

long_string

'Once upon a midnight dreary, \nwhile I pondered, weak and weary,\nover many a quaint and curious \nvolume of forgotten lore...'

In [28]:
# if you want to type a string that uses single or double quotes inside it,
# you can just define the string using the other type

question = "Where'd you get that poem?"
answer = 'Something called "Google"'

# TASK: assign some strings into these variables:
your_name = "Eunji"
a_thing_you_like = "Baking"
# if you leave them empty you'll get an error!


# some mathematical operations work on strings, too. for example you can add them:

"My name is " + your_name + " and I like " + a_thing_you_like

'My name is Eunji and I like Baking'

> Booleans

In [32]:
# booleans, or 'bools' are the simplest type.
# They have two possible values: True / False

andrey_enjoys_coffee = True
andrey_enjoys_lockdown = False

# Use the word 'not' to get the opposite of a bool:
andrey_hates_coffee = not andrey_enjoys_coffee
andrey_hates_coffee

False

In [33]:
# they're represented in python internally as 0 (False) and 1 (True), 
# so you can do some strange things like add them:

andrey_enjoys_coffee + andrey_enjoys_coffee

2

**Basic Operators**

We've seen some simple arithmetic operations, like `+` (addition), `-` (subtraction), `*` (multiplication) and `/` (division). We've also seen the arithmetic operator `**` (exponentiation), which might be useful.

Apart from that, we've seen the assignment operator `=`. There's another one that looks similar but works very differently: the equality operator `==`.

In [35]:
# The equality comparison always returns a boolean.
# 'True' if the two values being compared are equal.
# 'False' if they aren't.

5 == 5

True

In [36]:
a = 8
b = 16

a == b

False

In [38]:
# QUESTION. What does this do instead?
# Expected. The value of b will be assigned to variable 'a'.
#           In other words, variable 'a' becomes same as b.
a = b
a

16

In [39]:
c = 5
d = 50

# There are other comparison operators, like:
c > d   # Is 'c' greater than 'd'?

False

In [40]:
c < d   # Is 'c' less than 'd'?

True

In [41]:
c != d   # Is 'c' not equal to 'd'?

True

In [42]:
# QUESTION. Can you guess what this one does?
# Expected. Check 'Is 'a' is grater than or equal to 'b'?'
#           As 'a' is equal to 'b', it will return 'True'. 
a >= b

True

In [43]:
# There's this "increment" operator, which works a bit like assignment
# but changes the value instead:
e = 10
e += 2    # sets 'e' to 'e+2'

e

12

In [46]:
# QUESTION. What does this return, and why?
# Expected. False because the remainder 10 % 4 == 2.
10 % 4 == 0

False

**Data Structures**

To store more than one piece of data, there are also compound data types that you can think of as 'data structures'. The most common of these in Python are *lists* and *dicts*, but strings can be considered one of these as well.

> Lists

&emsp;&emsp; Can include items of any data types

&emsp;&emsp; Can be empty

&emsp;&emsp; Can contain variables / mix types freely

In [51]:
# lists are declared using square brackets and separated by commas:
prime_numbers = [2, 3, 5, 7, 9] 

# Can include items of any data type
places = ['New York', 'Mexico', 'Venice', 'St. Moritz'] 

# Can be empty:
empty_list = []

# Can contain variables:
variables = [a, b, c, d]

# Can mix types freely
stuff = [721.5, False, 'real ale', andrey_enjoys_coffee, -999] 

# Also can add lists together, which concatenates them:
prime_numbers + places

[2, 3, 5, 7, 9, 'New York', 'Mexico', 'Venice', 'St. Moritz']

> Dictionary

&emsp;&emsp; Used to store information as key-value pairs

In [55]:
# the general pattern for a dict is:
# dict = {key1: value1, key2: value2}
# and so on.

legs = {'cat': 4, 
        'dog': 4, 
        'chicken': 2, 
        'spider': 8}

**Indexing**

To get data out of a Data structure, we usually need to do something called 'indexing'. In Python, indices start from *Zero*. So the first item is [0], the second item is [1] and so on.

In [58]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars']

# indexing uses square brackets followed by an integer, indicating which item to access:
planets[0] # gives us 'Mercury'
planets[2] # gives us 'Earth'

# Also can index negatively, starting from the end:
planets[-1] # gives us 'Mars'

# Can also index ranges, using this start:end range notation
# Note that start:end includes the start index but excludes the end
planets[0:2] # gives us ['Mercury', 'Venus']

['Mercury', 'Venus']

In [59]:
# QUESTION. Why doesn't this work?
#planets[1.0] # Because index in list must be integers or slices

In [60]:
# instead of indexing using integers, you can index by whatever the keys in the Dict are:

# QUESTION. How many legs a chicken has
# Expected. 2
legs['chicken']

2

In [63]:
# we can also use indexing to assign or re-assign new values
planets[2] = 'Cool Venus'    # QUESTION. Which item has this replaced?
                             # Expected. 'Earth' will be changed into 'Cool Venus'
legs['centipede'] = 100      # QUESTION: which item has this replaced?
                             # Expected. Add new pair of data, 'centipede':100, in legs
planets
legs

{'cat': 4, 'dog': 4, 'chicken': 2, 'spider': 8, 'centipede': 100}

In [66]:
# We can index strings in the same way
my_name = 'Andrey'

my_name[3] # gives us 'r'

my_name[0:3] # gives us 'And'

# QUESTION. What would we get from planets[1][1] ?
planets[1][1] # gives us second character in first element from lists planets

'e'

**Basic Functions**

> print( )

&emsp; &emsp; Takes a string and prints it to the console

In [67]:
# TASK: Assign a string to this variable:
your_name = "Eunji" 

# Use the 'print' function to greet you:
print('Hello ' + your_name)

Hello Eunji

> len( )

&emsp; &emsp; Return the length of a list/string

In [70]:
num_letters = len(your_name)
num_letters

5

> str( )

&emsp; &emsp; Convert that integer into string

In [71]:
num_letters_string = str(num_letters)

print('Your name is ' + num_letters_string + ' letters long.')

Your name is 5 letters long.

> int( ), float( ), str( )

&emsp; &emsp; Change types of data into integers, floats, or strings

In [75]:
my_age = '30'  # String

int_my_age = int(my_age)    # gives 30
float_my_age = float(my_age)  # gives 30.0
#str(30)        # gives "30"

type(int_my_age)       # gives 'int'
type(float_my_age)     # gives 'float'
type('30')     # gives 'str'

# QUESTION: What is type([30])?
# Expected. list
type([30]) # Answer. list

list

**Basic Methods**

Methods belongs types like lists or string, do specific things to them.

> append( )

&emsp; &emsp; Add items to end of the list

In [76]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars']

planets.append('Jupiter')
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter']

> upper( )

&emsp; &emsp; Turn the characters in string to Uppercase

In [78]:
print(planets[-1].upper())

JUPITER

**Conditionals**

In [82]:
# TASK: Assign a bool to this variable, either True or False: (case-sensitive)
you_like_coffee = True

print('Take a break from this exercise.')
if you_like_coffee:
    print('You should go have a cup of coffee.')
else:
    print('You should maybe make a nice cup of tea.')

Take a break from this exercise.
You should go have a cup of coffee.

In [83]:
# In Python, we can use 'elif' to use else-if statement

# TASK: Check the weather and assign a number to this variable
todays_temperature = 9

if todays_temperature > 30:
    print("It's hot!")
elif todays_temperature > 20:
    print('Nice and warm')
elif todays_temperature > 10:
    print('A little chilly today')
elif todays_temperature > 0:
    print("It's pretty cold out")
else:
    print("It's absolutely freezing")

It's pretty cold out

In [88]:
# TASK: Assign some random numbers to these two variables:
import random

a = random.randint(0,20)
b = random.randint(0,20)

print("a=",a, "b=", b)

if a > b:
    print('a is larger than b')
elif b > a:
    print('b is larger than a')
else:
    print('a and b are the same')

a= 20 b= 17
a is larger than b

**String Formatting**

In [90]:
my_name = 'Andrey'
my_age = 30
favourite_drink = "coffee"

> %s

&emsp; &emsp; Converts integers to strings automatically

In [92]:
print("My name is %s, I'm %s and I like %s" % (my_name, my_age, favourite_drink))

My name is Andrey, I'm 30 and I like coffee

> formate( ) method

In [93]:
print("My name is {}, I'm {} and I like {}".format(my_name, my_age, favourite_drink))

My name is Andrey, I'm 30 and I like coffee

> f-string Notation

In [94]:
print(f"My name is {my_name}, I'm {my_age} and I like {favourite_drink}")

My name is Andrey, I'm 30 and I like coffee

In [95]:
# TASK: Remember this statement from earlier:
#print('Your name is ' + num_letters_string + ' letters long.')
# Rewrite it using one of these string formatting methods, instead of adding
print(f"Your name is {num_letters_string} letters long.")

Your name is 5 letters long.

**Loops**

In [96]:
numbers = [0, 1, 2, 3, 4]

for n in numbers:
    print(n)

0
1
2
3
4

In [97]:
# another common thing to do is loop across a range:
for n in range(5):  # this does the same thing as before: range(5) is the list [0,1,2,3,4]
    print(n**2)     # we can do whatever we want with the temporary variables. here i've squared them

0
1
4
9
16

In [98]:
# Also we can loop throught arbitrary lists
planets = ['Mercury', 'Venus', 'Earth', 'Mars']

for planet in planets:
    num_letters = len(planet)
    print(f"{planet} has {num_letters} letters")

Mercury has 7 letters
Venus has 5 letters
Earth has 5 letters
Mars has 4 letters

In [99]:
# Or across strings: (basically anything you can index)

for letter in 'Mars':
    print(f"Give me an {letter.upper()}")

Give me an M
Give me an A
Give me an R
Give me an S

In [109]:
# TASK: Write a loop that prints all the powers of 2
# up to 256.
# that is: 2, 4, 8, 16, 32, 64, 128, 256

for n in range(8):
    p = n+1
    print(2**p)

2
4
8
16
32
64
128
256

**Defining Functions**

Writing your own functions is very useful thing. 

Copying the same code out multiple times can be annoying because if you decide to change it you gave to change it everywhere. However, writing your own function lets you re-use code by defining subroutines you'll use multiple times.

In [106]:
def add(a,b): 
    c = a + b
    return c

value = add(5, 10)

print(value)

15

In [107]:
def is_even(number):
    if number % 2 == 0:   # does the remainder when dividing by 2 equal 0?
        return True
    else:
        return False
    
print(is_even(10))
print(is_even(11))

True
False

In [112]:
# TASK: Try and go through this function line-by-line
# and explain what every line is doing, with a comment.

def alternate(string):
    new_string = "" # Empty string
    
    num_letters = len(string) # Length of input string
    
    for l in range(num_letters): # Looping through zero to (num. of letters-1)
        
        letter = string[l] # gives us lth character as letter
        
        if is_even(l): # if the l==even
            new_letter = letter.lower() # Store character as lower letter in new_letter
        
        else: #if the l==odd
            new_letter = letter.upper() # Store character as upper letter in new_letter
            
        new_string += new_letter # Add new_letter in new_string
        
    return new_string #Return string which is stored in new_string
        

# QUESTION. Can you explain what this function does as a whole?
# This function takes a string and returns a string 
# after changes characters in odd number position into Lowercase and the other characters in Uppercase. 

alternate('programming is stupid')

'pRoGrAmMiNg iS StUpId'

### Real-World Exercise
For Programming jobs, the FizzBuzz test is a common interview question which is done to filter out candidates who cannot code at all.

It's based on a counting game: You count from 1 to 20, saying the numbers out loud. Except instead of saying a number divisible by 3, you say 'Fizz', and instead of saying a number divisible by 5, you say 'Buzz'. If a number is divisible by both 3 and 5, then you have to say 'FizzBuzz'.

In [117]:
# TASK: Write your FizzBuzz code here:

bases = list(range(1,21))
bases

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [122]:
fizzBuzz = []

for i in bases:
    if i%3 == 0:
        if i%5 == 0:
            fizzBuzz.append("FizzBuzz")
        else:
            fizzBuzz.append("Fizz")
    elif i%5 == 0 :
        fizzBuzz.append("Buzz")
    else:
        fizzBuzz.append(i)
        
print(fizzBuzz)

[1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 'Fizz', 'Buzz', 11, 'Fizz', 13, 14, 'FizzBuzz', 16, 17, 'Fizz', 19, 'Buzz']